.header__lang-link {
    padding: 0 9px;
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link:nth-last-of-type(1) {
    text-decoration: none;
}