@import url(./__item/photo-grid__item.css);

.photo-grid {
    width: 928px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
    margin: 0 48px 92px;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 1280px) {

    .photo-grid {
        width: 1184px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .photo-grid {
        width: 93%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 0 24px 92px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    .photo-grid {
        max-width: 288px;
        grid-template-columns: none;
        grid-template-rows: repeat(12, 1fr);
        margin: 0 16px 64px;
    }
}

@media screen and (max-width: 320px) {

    .photo-grid {
        max-width: 288px;
        grid-template-columns: none;
        grid-template-rows: repeat(12, 1fr);
        margin: 0 16px 64px;
    }
}