@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 928px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    grid-gap: 14px;
    margin: 0 48px 92px;
}