@import url(./__card/places__card.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__url/places__url.css);
@import url(./__link/places__link.css);
@import url(./__image/places__image.css);
@import url(./__description/places__description.css);
@import url(./__text/places__text.css);
@import url(./__text/__text_small/places__text_small.css);

.places {
    width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {

    .places {
        width: calc(100% - 96px);
        margin: 0 auto 96px;
    }
}

@media screen and (max-width: 768px) {

    .places {
        width: calc(100% - 48px);
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {

    .places {
        width: 100%;
        margin: 0 auto 40px;
    }
}