@import url(/vendor/fonts/fonts.css);
@import url(/blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/lead/lead.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/places/places.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/footer/footer.css);

@media screen and (min-width: 1280px) {
    .page {
        min-width: 1280px;;
    }

    .header {
        min-width: 984px;
    }

    .lead {
        min-width: 984px;
    }

    .lead__image {
        min-width: 984px;
        min-height: 615px;
    }

    .intro {
        margin-left: 148px;
    }

    .photo-grid {
        min-width: 1128px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .places {
        min-width: 984px;
        margin-bottom: 92px;
    }

    .places__image {
        width: 460px;
        height: 460px;
    }

    .cover {
        width: 1184px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        width: 768px;
    }

    .header {
        width: 720px;
    }

    .lead {
        width: 768px;
    }

    .lead__image {
        width: 768px;
    }

    .lead__caption {
        margin-left: 24px;
    }

    .intro {
        margin: 88px auto 88px 24px;
    }

    .intro__title {
        width: 720px;
    }

    .intro__text {
        width: 720px;
    }

    .photo-grid {
        width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .places {
        max-width: 720px;
    }

    .places__title {
        font-size: 42px;
        line-height: 46px;
    }

    .places__url {
        font-size: 12px;
    }

    .places__image {
        width: 340px;
        height: 340px;
    }

    .places__text-large {
        font-size: 16px;
        line-height: 26px;
    }

    .cover {
        width: 768px;
    }

    .cover__background {
        width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        width: 320px;
    }

    .header {
        width: 288px;
    }

    .logo_usa_header {
        width: 156px;
        height: 36px;
    }

    .header__lang {
        padding-top: 10px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 24px;
    }

    .lead {
        width: 320px;
    }

    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto 16px;
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 0 auto 40px;
    }

    .lead__image {
        width: 100%;
        height: 200px;
    }

    .intro {
        width: 288px;
        margin: 86px auto 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
    }

    .intro__text {
        line-height: 30px;
        width: 100%;
    }

    .photo-grid {
        max-width: 288px;
        grid-template-columns: none;
        grid-template-rows: repeat(12, 1fr);
        margin-bottom: 64px;
    }

    .places {
        width: 320px;
        margin-bottom: 64px;
    }

    .places__card {
        grid-template-columns: none;
        grid-column-gap: 0;
        grid-template-rows: minmax(0, auto) 32px minmax(0, auto) 32px minmax(0, auto) 24px minmax(0, auto) 24px minmax(0, auto);
        margin-bottom: 48px;
    }

    .places__title {
        width: 288px;
        margin: 0 16px;
        font-size: 32px;
        line-height: 35px;
        grid-row: 1 / 2;
    }

    .places__image {
        width: 320px;
        height: 320px;
        grid-row: 3 / 4;
    }

    .places__url {
        display: none;
    }

    .places__link {
        display: none;
    }

    .places__text {
        width: 288px;
        margin: 0 16px;
    }

    .cover {
        width: 320px;
    }

    .cover__background {
        width: 320px;
        height: 200px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin-bottom: 16px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
    }

    .footer__columns {
        width: 168px;
        min-height: 198px;
        margin: 64px 138px 14px 16px;
    }

    .footer__column-links {
        flex-direction: column;
    }

    .footer__column-link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .footer__column-copyright {
        font-size: 14px;
        line-height: 14px;
        left: 0;
        bottom: 0;
        margin-top: 16px;
    }
}