.header__lang {
    display: flex;
    padding-top: 15px;
    list-style-type: none;
    margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    .header__lang {
        padding-top: 10px;
    }
}

@media screen and (max-width: 320px) {

    .header__lang {
        padding-top: 10px;
    }
}