@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {

    .lead {
       width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {

    .lead {
        width: 100%;
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {

    .lead {
        margin: 0 auto 64px;
    }
}
