@import url(../lead/__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 928px;
    margin: 50px auto 0;
}