.places__text-large {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    grid-column: 2 / -1;
    grid-row: 5 / 6;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .places__text-large {
        font-size: 16px;
        line-height: 26px;
    }
}