@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__logo/header__logo.css);

.header {
    width: 984px;
    display: flex;
    flex-direction: row;
    margin: 34px auto 58px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    
    .header {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {

    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    
    .header {
        width: 288px;
    }
}