@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    width: 928px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 34px;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    
    .header {
        min-width: 984px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .header {
        width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    .header {
        width: 288px;
    }
}