.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in .2s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {

    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
    }
}