@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    width: 99%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 1024px) {

    .cover {
        width: 100%;
    }
}