.cover__background {
    height: 740px;
    background-image: url(../../../images/cover-route-66.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    transition: 0.2s ease-in;
    z-index: -1;
}

.cover__background:hover::before {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {

    .cover__background {
        width: 100%;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {

    .cover__background {
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 320px) {

    .cover__background {
        width: 100%;
        height: 200px;
    }
}