.lead__caption {
    display: flex;
    max-width: 183px;
    margin-top: 8px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}