.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    margin: 0 auto 40px;
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 320px) {

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        margin-bottom: 16px;
    }
}