@import url(./__column/footer__column.css);
@import url(./__link-list/footer__link-list.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 425px) {

    .footer {
        display: block;
        width: 168px;
        min-height: 198px;
        margin: 64px 138px 14px 16px;
    }
}