.places__description {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 450px) {
    
    .places__description {
        width: calc(100% - 32px);
        padding-left: 16px;
    }
}